@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-y: scroll; /* or hidden if you want to remove scrolling altogether */
  overflow-x: hidden;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem 0rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

@media screen and (max-width: 900px) {
  .section__padding {
    padding: 4rem 4rem 0rem 4rem;
  }
}

@media screen and (max-width: 450px) {
  .section__padding {
    padding: 4rem 4rem 0rem 4rem;
  }
}
